# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
poetry.lock
pipfile.lock

# Databases & logs
*.db
*.sqlite3
logs/*.log
*.log

# Node / Frontend
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/
